body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: black; /* Make all text white */
}

#header-image {
    width: 100%;
    height: auto;
}


#main{
    margin-left: 200px; 
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    height: auto;
    text-align: left;
}




#buttons {
    position: fixed;
    width: 200px; /* Adjust as needed */
    height: 100%;
    overflow: auto;
}

#content {
    font-size: x-large;
    margin-left: 200px; /* Should be the same as the width of #buttons */
}

nav {
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Center the navigation */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* Make navigation links white */
}


.nav-button {
    background-color: #555;
    border: 2px solid #999;
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nav-button:hover {
    background-color: #457ba0;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}